body {
    background-color: black;
    color: white;
}

h1 {
    display: grid;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: darkred;
    width: 300px;
    border: 15px solid darkorange;
    padding: 50px;
    margin: 20px;
}