.button {
    display: inline-block;
    padding: 60px 100px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #4CAF50;
    border: none;
    border-radius: 60px;
    box-shadow: 0 36px #999;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 20px #666;
    transform: translateY(20px);
}

#A {
    position: absolute;
    top: 10%;
    left: 5%;
}

#B {
    position: absolute;
    top: 10%;
    left: 40%;
}

#C {
    position: absolute;
    top: 10%;
    left: 75%;
}

#E {
    position: absolute;
    top: 40%;
    left: 2%;
}

#F {
    position: absolute;
    top: 40%;
    left: 40%;
}

#G {
    position: absolute;
    top: 40%;
    left: 70%;
}

#H {
    position: absolute;
    top: 70%;
    left: 5%;
}

#I {
    position: absolute;
    top: 70%;
    left: 40%;
}

#M {
    position: absolute;
    top: 70%;
    left: 70%;
}



.disclaimer {
    position: absolute;
    top: 100%;
    left: 5%;
    color: white;
    font-size: 32px;
    font-weight: bold;
}